{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
        
        {% if sd %}
        
           {% for k in sd %}
           
             <h1>{{k.first_name}}</h1>
             <h2>{{k.last_name}}</h2>
             <h2>{{k.email}}</h2>
             <h2>{{k.phone}}</h2>
             <h2>{{k.startdate}}</h2>
             <h2>{{k.hotel1.hotelname}}</h2>
           {% endfor %}
        {% endif %}
</body>